<div style="text-align:center">
  <section class="section">
      <div class="container">
          <img src="assets/img/logoPKG.png" alt="PGP keys generator"/>
          <hr>
          <router-outlet></router-outlet>
      </div>
  </section>
</div>