<form [formGroup]="pgpkeysForm" (ngSubmit)="onSubmit()" novalidate>
    <div formGroupName="pgpkeysRequest" novalidate>
      <mat-form-field  class="md-block" appearance="fill">
        <mat-label>Your email</mat-label>
        <input matInput formControlName="email" />
        <mat-hint align="start">Enter your email or a name to identify the keys (at least 5 caracters)</mat-hint> 
      </mat-form-field>
      <br><br>
      <mat-form-field   appearance="fill">
        <mat-label>Passphrase</mat-label>
        <input matInput formControlName="passphrase"  />
        <mat-hint align="start">Enter a passphrase or a password to protect your private key (at least 8 caracters)</mat-hint> 
      </mat-form-field>
      <br><br>
      <mat-form-field  appearance="fill">
        <mat-label>Key length</mat-label>
        <mat-select [(value)]="selectedLength" formControlName="length">
          <mat-option value="1024">1024 bits</mat-option>
          <mat-option value="2048">2048 bits</mat-option>
          <mat-option value="4096">4096 bits</mat-option>
        </mat-select>
        <mat-hint align="start">Select the key length</mat-hint> 
      </mat-form-field>
     </div>
     <br> 
    <button mat-raised-button type="submit" [disabled]="pgpkeysForm.pristine">Generate</button>
    <button mat-raised-button type="reset" (click)="revert()" [disabled]="pgpkeysForm.pristine">Revert</button>
  </form>
  <br><br>
  <div [ng2-loading]="loading"></div>
  <form [formGroup]="pgpkeysResultForm" (ngSubmit)="onSubmit()" *ngIf="show" novalidate>
    <div formGroupName="pgpkeysResult" novalidate>
      <div id="publickey">
        <h4>Public PGP key
        <button mat-raised-button (click)="downloadPublickey()">Download public key</button></h4>
        <mat-form-field   appearance="outline">
          <mat-label>Public PGP key</mat-label>
          <textarea matNativeControl cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7" formControlName="publickey" ></textarea>
        </mat-form-field>
      </div>
      
      <div id="privatekey">
        <h4>Private PGP key
        <button mat-raised-button (click)="downloadPrivatekey()">Download private key</button> </h4>
        <mat-form-field   appearance="outline">
          <mat-label>Private PGP key</mat-label>
          <textarea matNativeControl cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="7" formControlName="privatekey" ></textarea>
        </mat-form-field>
      </div>

      
    </div>
  </form>

  
